---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address/?inFormat=kvp&key=wiuynlc4KmQXn7lckG55CpDAoRXwoqnB&location=%7B%22location%22=%3E%22denver,co%22%7D&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 04 Aug 2020 17:47:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{\"location\"=>\"denver,co\"}"},"locations":[{"street":"Denver
        West County Mills Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/988681","unknownInput":"","type":"s","latLng":{"lat":39.72906,"lng":-105.16534},"displayLatLng":{"lat":39.72906,"lng":-105.16534}},{"street":"Denver
        Boulevard","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Blanca","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"81123","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p1/1728964","unknownInput":"","type":"s","latLng":{"lat":37.41926,"lng":-1[...]
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=ca343676cf7bc460440399de9fab4f40&lat=39.72906&lon=-105.16534&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-105.17,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1596563038,"sunrise":1596542579,"sunset":1596593424,"temp":81.21,"feels_like":82.71,"pressure":1020,"humidity":43,"dew_point":56.61,"uvi":10.89,"clouds":30,"visibility":10000,"wind_speed":1.01,"wind_deg":113,"wind_gust":4,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1596563040,"precipitation":0},{"dt":1596563100,"precipitation":0},{"dt":1596563160,"precipitation":0},{"dt":1596563220,"precipitation":0},{"dt":1596563280,"precipitation":0},{"dt":1596563340,"precipitation":0},{"dt":1596563400,"precipitation":0},{"dt":1596563460,"precipitation":0},{"dt":1596563520,"precipitation":0},{"dt":1596563580,"precipitation":0},{"dt":1596563640,"precipitation":0},{"dt":1596563700,"precipitation":0},{"dt":1596563760,"precipitation":0},{"dt":1596563820,"precipitation":0},{"dt":1596563880,"precipitati[...]
[...]
